<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<title>项目帮-首页</title>
<link href="../style/base.css" rel="stylesheet">
<link href="../style/main.css" rel="stylesheet">
</head>
<body>
  <div class="wrap home-wrap">
      <div id="slide" class="homeSlide">
      </div>
      <div class="nav"> 
        <a href="javascript:;" class="item">
          <i class="iconfont icon-iconfontxiangmuguanli"></i>
          <i class="iconfont icon-iconfonticonfontshujuxian smicon"></i>
          <span>上市项目</span>
        </a><a href="javascript:;" class="item">
          <i class="iconfont icon-iconfontxiangmuguanli"></i>
          <i class="iconfont icon-iconfontjingxuan1 smicon smicon2"></i>
          <span>精选项目</span>
        </a><a href="javascript:;" class="item">
          <i class="iconfont icon-iconfontxiangmuguanli"></i>
          <i class="iconfont icon-iconfontjingxuan smicon smicon3"></i>
          <span>优品项目</span>
        </a><a href="javascript:;" class="item">
          <i class="iconfont icon-iconfonttutechan"></i>
          <span>土特产</span>
        </a><a href="javascript:;" class="item">
          <i class="iconfont icon-iconfontyidonghulian"></i>
          <span>互联网</span>
        </a><a href="javascript:;" class="item">
          <i class="iconfont icon-iconfontcanyinmeishi"></i>
          <span>餐饮连锁</span>
        </a><a href="javascript:;" class="item">
          <i class="iconfont icon-iconfontshenghuo"></i>
          <span>健康生活</span>
        </a><a href="javascript:;" class="item">
          <i class="iconfont icon-iconfontxuelijiaoyu"></i>
          <span>教育培训</span>
        </a>
      </div>
      <div class="contentList">
        <div class="tab-btn">
          <a href="javascript:;" class="item active">
            <i class="iconfont icon-iconfontchanpin"></i>
            <span>精选</span>
          </a><a href="javascript:;" class="item">
            <i class="iconfont icon-iconfonttubiaozuixin01"></i>
            <span>最新</span>
          </a><a href="javascript:;" class="item">
            <i class="iconfont icon-iconfontremen"></i>
            <span>热门</span>
          </a>
        </div>
        <div class="list">
          <a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a><a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a><a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a><a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a><a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a><a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a><a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a><a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a><a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a><a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a><a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a><a href="javascript:;" class="item">
            <img src="/xmb/image/pro.jpg"class="pro-img">
            <div class="intro">
              <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
              <p class="level">
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
                <i class="iconfont icon-iconfontxingxing"></i>
              </p>
              <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
            </div>
          </a>
        </div>
      </div>
  </div>
  <div class="bottom-nav">
    <a href="javascript:;" class="item active">
      <i class="iconfont icon-iconfontshouye"></i>
      <span>项目帮</span>
    </a><a href="javascript:;" class="item">
      <i class="iconfont icon-iconfontjingyingjiaoliu"></i>
      <span>交流</span>
    </a><a href="javascript:;" class="item">
      <i class="iconfont icon-iconfonticonfont"></i>
      <span>发现</span>
    </a><a href="javascript:;" class="item">
      <i class="iconfont icon-iconfontwodezhongchou"></i>
      <span>众筹</span>
    </a><a href="javascript:;" class="item">
      <i class="iconfont icon-iconfontwoxiao"></i>
      <span>我</span>
    </a>
  </div>
  <script type="text/javascript" src="/xmb/script/mod.js"></script>
  <script type="text/javascript" src="/xmb/script/page/index.js"></script>
  <script>
      require('xmb:app/script/page/index');
  </script>
</body>
</html>