<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<title>项目帮-上市项目首次点击</title>
<link href="../style/base.css" rel="stylesheet">
<link href="../style/main.css" rel="stylesheet">
</head>
<body class="firstBody">
  <div class="wrap firstWrap">
      <div id="slide" class="homeSlide">
      </div>
      <div class="info">
        <span class="title">家点绿天然有机农产品</span>
        <p class="money">投资金额<span><i class="rmb">￥</i>5-10万</span></p>
        <div class="dot">
          <p>
            <i class="iconfont icon-iconfontshouye"></i>
            <span>关注人数：9945</span>
          </p><p>
            <i class="iconfont icon-iconfontshouye"></i>
            <span>加盟人数：241</span>
          </p><p>
            <i class="iconfont icon-iconfontshouye"></i>
            <span>好评率：100%</span>
          </p>
        </div>
      </div>
      <div class="bread">
        <span>产品类别：健康生活</span>
        <span>产品行业：果蔬餐饮</span>
      </div>
      <div class="video">
        <div class="box">
          <img src="/xmb/image/video.jpg">
          <audio src="someaudio.wav">
          您的浏览器不支持 audio 标签。
          </audio>
          <span class="watch">点击观看</span>
        </div>
        <p>家点绿天然有机农产品</p>
      </div>
      <div class="tab">
        <div class="tabBtn">
          <a class="active" href="javascript::">优势介绍</a><a href="javascript::">要求介绍</a><a href="javascript::">资质展示</a><a href="javascript::">优秀素材</a>
        </div>
        <div class="content">
          要求介绍，要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求绍要求介绍。

          要求介绍要求介绍要求介绍要求介绍要 求介绍要求介绍要求介绍要求介绍。

          要求介绍，要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介，绍要求介绍要求介绍要求介绍要求介绍要求介绍要求绍要求介绍。要求介绍，要求介绍要求介，绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求介绍要求，绍要求介绍。

        </div>
      </div>
      <div class="rekmand">
        <span class="title"><i class="iconfont icon-iconfontxingxing"></i>相关项目</span>
        <div class="contentList">
          <div class="list">
            <a href="javascript:;" class="item">
              <img src="/xmb/image/pro.jpg"class="pro-img">
              <div class="intro">
                <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
                <p class="level">
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                </p>
                <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
              </div>
            </a><a href="javascript:;" class="item">
              <img src="/xmb/image/pro.jpg"class="pro-img">
              <div class="intro">
                <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
                <p class="level">
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                </p>
                <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
              </div>
            </a><a href="javascript:;" class="item">
              <img src="/xmb/image/pro.jpg"class="pro-img">
              <div class="intro">
                <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
                <p class="level">
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                </p>
                <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
              </div>
            </a><a href="javascript:;" class="item">
              <img src="/xmb/image/pro.jpg"class="pro-img">
              <div class="intro">
                <p>快来买快来买快来买<span><i>￥</i>5-10万</span></p>
                <p class="level">
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                  <i class="iconfont icon-iconfontxingxing"></i>
                </p>
                <p>家点绿天然有机农产品家点绿天然有机农产品家点绿家点绿</p>
              </div>
            </a>
          </div>
        </div>
      </div>
  </div>
  <div class="bottom-nav invice">
    <a href="javascript:;" class="item">
      <i class="iconfont icon-iconfontshouye"></i>
      <span>联系我们</span>
    </a><a href="javascript:;" class="item">
      <i class="iconfont icon-iconfontjingyingjiaoliu"></i>
      <span>立即留言</span>
    </a><a href="javascript:;" class="item">
      <i class="iconfont icon-iconfonticonfont"></i>
      <span>立即投资</span>
    </a>
  </div>
  <script type="text/javascript" src="/xmb/script/mod.js"></script>
  <script type="text/javascript" src="/xmb/script/page/shangshiFirst.js"></script>
  <script>
      require('xmb:app/script/page/shangshiFirst');
  </script>
</body>
</html>