<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<title>项目帮-交流</title>
<link href="../style/base.css" rel="stylesheet">
<link href="../style/main.css" rel="stylesheet">
</head>
<body>
  <div class="wrap discover-wrap zc-wrap">
      <div class="contentList">
        <div class="tab-btn">
          <a href="javascript:;" class="active item">精选
          </a><a href="javascript:;" class="item">最新
          </a><a href="javascript:;" class="item">热门
          </a>
        </div>
        <div class="list">
          <div class="time"><span>17</span>Dec</div>
          <a href="javascript:;" class="item clearfix">
            <img class="newsPic" src="/xmb/image/shangshiPic.jpg">
            <div class="intro">
              <p>马化腾：将封杀滴滴在内的朋友圈红包分享</p>
              <p>马化腾：将封杀滴滴在内的朋友圈红包分享</p>
            </div>
            <div class="info clearfix"><span>进度12%</span><span>支持62人</span><span>已筹1,189元</span></div>
          </a><a href="javascript:;" class="item clearfix">
            <img class="newsPic" src="/xmb/image/shangshiPic.jpg">
            <div class="intro">
              <p>马化腾：将封杀滴滴在内的朋友圈红包分享</p>
              <p>马化腾：将封杀滴滴在内的朋友圈红包分享</p>
            </div>
            <div class="info clearfix"><span>进度12%</span><span>支持62人</span><span>已筹1,189元</span></div>
          </a>
        </div>
      </div>
  </div>
  <div class="bottom-nav">
    <a href="javascript:;" class="item active">
      <i class="iconfont icon-iconfontshouye"></i>
      <span>项目帮</span>
    </a><a href="javascript:;" class="item">
      <i class="iconfont icon-iconfontjingyingjiaoliu"></i>
      <span>交流</span>
    </a><a href="javascript:;" class="item">
      <i class="iconfont icon-iconfonticonfont"></i>
      <span>发现</span>
    </a><a href="javascript:;" class="item">
      <i class="iconfont icon-iconfontwodezhongchou"></i>
      <span>众筹</span>
    </a><a href="javascript:;" class="item">
      <i class="iconfont icon-iconfontwoxiao"></i>
      <span>我</span>
    </a>
  </div>
  <script type="text/javascript" src="/xmb/script/mod.js"></script>
  <script type="text/javascript" src="/xmb/script/page/specilProduct.js"></script>
  <script>
      require('xmb:app/script/page/specilProduct');
  </script>
</body>
</html>