<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<title>项目帮-众筹详情页</title>
<link href="../style/base.css" rel="stylesheet">
<link href="../style/main.css" rel="stylesheet">
</head>
<body>
  <div class="wrap firstWrap zcDetai-wrap">
      <div id="slide" class="homeSlide">
      </div>
      <div class="info">
        <span class="title">家点绿天然有机农产品</span>
        <p class="money">家点绿天然有机农产品家点绿天然有机农产品家点绿天然有机农产品</p>
      </div>
      <div class="line">
        <i class="process" style="width:30%"></i>
      </div>
      <div class="soon">
        <span>14%</span><span>1,356</span><span>90天</span>
      </div>
      <a href="javascript:;" class="seeDetail">查看图文详情</a>
      <div class="support">
        <div class="title clearfix">
          <span>参与-支持</span>
          <span>77</span>
        </div>
        <ul class="clearfix">
          <li><img src="/xmb/image/person.png" alt=""><i class="num">3</i></li>
          <li><img src="/xmb/image/person.png" alt=""><i class="num">3</i></li>
          <li><img src="/xmb/image/person.png" alt=""><i class="num">3</i></li>
          <li><img src="/xmb/image/person.png" alt=""><i class="num">3</i></li>
        </ul>
      </div>
      <div class="supportList">
        <div class="top clearfix">
          <img src="/xmb/image/person.png">
          <span>支持一元</span>
          <a href="javascript:;">去支持</a>
        </div>
        <p style="margin-bottom:2%">支持1元可以获得电子感谢信一封，请在您支持后留下您的电子邮箱，方便我们给您发送电子感谢信！</p>
        <p class="small">配送费：免运费</p>
        <p class="small">预计回报发送时间：项目成功结束之后15天内</p>
        <p class="small" style="margin-top:2%">无限额（已有34位支持）</p>
      </div>
      <div class="supportList">
        <div class="top clearfix">
          <img src="/xmb/image/person.png">
          <span>支持一元</span>
          <a href="javascript:;">去支持</a>
        </div>
        <p style="margin-bottom:2%">支持1元可以获得电子感谢信一封，请在您支持后留下您的电子邮箱，方便我们给您发送电子感谢信！</p>
        <p class="small">配送费：免运费</p>
        <p class="small">预计回报发送时间：项目成功结束之后15天内</p>
        <p class="small" style="margin-top:2%">无限额（已有34位支持）</p>
      </div>
      <div class="supportList">
        <div class="top clearfix">
          <img src="/xmb/image/person.png">
          <span>支持一元</span>
          <a href="javascript:;">去支持</a>
        </div>
        <p style="margin-bottom:2%">支持1元可以获得电子感谢信一封，请在您支持后留下您的电子邮箱，方便我们给您发送电子感谢信！</p>
        <p class="small">配送费：免运费</p>
        <p class="small">预计回报发送时间：项目成功结束之后15天内</p>
        <p class="small" style="margin-top:2%">无限额（已有34位支持）</p>
      </div>
      <div class="supportList">
        <div class="top clearfix">
          <img src="/xmb/image/person.png">
          <span>支持一元</span>
          <a href="javascript:;">去支持</a>
        </div>
        <p style="margin-bottom:2%">支持1元可以获得电子感谢信一封，请在您支持后留下您的电子邮箱，方便我们给您发送电子感谢信！</p>
        <p class="small">配送费：免运费</p>
        <p class="small">预计回报发送时间：项目成功结束之后15天内</p>
        <p class="small" style="margin-top:2%">无限额（已有34位支持）</p>
      </div>
      <div class="foryou">
        <div class="title">为您推荐</div>
        <ul class="clearfix">
          <li><a href="javascript:;"><img src="/xmb/image/shangshiPic.jpg"></a></li>
          <li><a href="javascript:;"><img src="/xmb/image/shangshiPic.jpg"></a></li>
          <li><a href="javascript:;"><img src="/xmb/image/shangshiPic.jpg"></a></li>
          <li><a href="javascript:;"><img src="/xmb/image/shangshiPic.jpg"></a></li>
          <li><a href="javascript:;"><img src="/xmb/image/shangshiPic.jpg"></a></li>
        </ul>
      </div>
  </div>
  <div class="bottom-nav support-nav">
    <a href="javascript:;" class="item">支持</a>
  </div>
  <script type="text/javascript" src="/xmb/script/mod.js"></script>
  <script type="text/javascript" src="/xmb/script/page/shangshiFirst.js"></script>
  <script>
      require('xmb:app/script/page/shangshiFirst');
  </script>
</body>
</html>