@import '../qst/all.styl'
@import '../config.styl'


/* 公用文件导入
******************************************/
@import '../variable.styl'
@import '../common/typography.styl'
@import '../common/component.styl'

.my-favorite{
  lafe-intro-item(90%)
  .list{
    margin-top $rem(30px)
    @extend .margin-left-right-default
  }
  addFooter()
}