@import '../qst/all.styl'
@import '../config.styl'


/* 公用文件导入
******************************************/
@import '../variable.styl'
@import '../common/typography.styl'
@import '../common/component.styl'


.my-order{
  addNavigator()
  lafe-intro-item(100%)
  .cont{
    margin-top $rem(20px)
    position relative
    //@extend .margin-left-right-default
    strong{
      position absolute
      right 40%
    }
  }
  .list{
    margin-top $rem(20px)
  }
  .item{
    padding-bottom $rem(12px)
    border-bottom $rem(1px) solid #eee
    margin-bottom $rem(20px)
  }
  .item-header{
    display flex
    justify-content space-between
    padding $rem(5px 30px)
    border-top $rem(1px) solid #eee
    border-bottom $rem(1px) solid #eee
    .left{
      width 80%
      line-height $rem(38px)
    }
    .right{
      width 20%
      display block
      setFontSize($font-size-20)
      font-weight normal
    }
    
    .order-no,.time,right{
      display block
      etFontSize($font-size-20)
      font-weight normal
    }
  }
  .item-body{
    margin-top 3%
    //@extend .margin-left-right-default
      .main{
        padding $rem(15px 20px)
        margin $rem(0 20px)
      }
      .note{
        margin-right 0 !important
      }
  }
}