@import 'qst/all.styl'
@import 'config.styl'


/* 公用文件导入
******************************************/
@import 'variable.styl'
@import 'common/typography.styl'
@import 'common/component.styl'

.my-order-02{
  width 100%
  hr{
    width 92%
    margin $rem(20px) auto !important
    height:1px;
    border:none;
    border-top:1px solid #e8e8e8;
  }
}