@import 'qst/all'

//基础字号
$base-text-font = $rem(20px)

//深色背景上字体的颜色
$dark-text-color = #ffb938

//浅色背景上字体颜色
$under-text-color = #d89334

//通用字体颜色
$common-text-color =#2b2b2b

//字体颜色---白色
$whit-text-color = #fff

//渐变背景色
$liner-background-color =@block{
  background -webkit-linear-gradient(0, #fdb752, #c77d20)
  background linear-gradient(0, #fdb752, #c77d20)
  color $whit-text-color
  font-size $rem(30px)
  height $rem(70px)
  line-height @height
}

//购物车内页商品名字大小和颜色
$buyCard-text-font =@block{
  font-size $rem(20px)
  color $common-text-color
}

//除首页详情页外，价格字体大小和颜色
$except-two-text-font =@block{
  font-size $rem(24px)
  color $under-text-color
}

//数量字体大小和颜色
$amount-text-font =@block{
  font-size $rem(20px)
  color $common-text-color
}

//菜单主按钮
$btn-style =@block{
  font-size $rem(20px)
  color $common-text-color
}

//置顶
$public-center-vertical =@block{
  position absolute
  top 0
  left @top
}

//置底
$public-center-vertical =@block{
  position absolute
  bottom 0
  left @bottom
}

//垂直居中
$public-center-vertical =@block{
  position absolute
  top 50%
  -webkit-transform translateY(-50%)
  transform translateY(-50%)
}

//水平居中
$public-center-horizontally =@block{
  position absolute
  left 50%
  -webkit-transform translateX(-50%)
  transform translateX(-50%)
}

//水平垂直居中
$public-center-completely =@block{
  position absolute
  left 50%
  top 50%
  -webkit-transform translate(-50%, -50%)
  transform translate(-50%, -50%)
}