@import 'qst/all'
@import 'config'


body{
  overflow-scrolling touch
  -webkit-overflow-scrolling touch
  max-width $rem(640px)
  min-width $rem(320px)
  i{
    font-style normal
  }
  .hide{
    display none
  }
  .wrap{
    width 100%
    height 100%
    max-width $rem(640px)
    margin 0 auto
    position absolute
    top 0
    left @top
    right @top
    bottom @top
    overflow-y scroll
    overflow-x hidden
  } 
}