@import 'qst/all'
@import 'config'

$default-font-size = 17.77777778px;

body{
  overflow-scrolling touch
  -webkit-overflow-scrolling touch
  max-width $rem(640px)
  min-width $rem(320px)
  i{
    font-style normal
  }
  .hide{
    display none
  }
}
.tab-btn{
  border 0
  color #a0a0a0
  a{
    font-size $rem(26px)
    display inline-block
    background #f5f6f8
    line-height $rem(70px)
    margin 0 !important
    border-bottom $rem(4px) solid transparent
  }
  .active{
    color #d2282c
    border-bottom $rem(4px) solid #d2282c !important
  }
}
.wrap{
  width 100%
  height 100%
  max-width $rem(640px)
  margin 0 auto
  position absolute
  top 0
  left @top
  right @top
  bottom @top
  overflow-y scroll
  overflow-x hidden
  .homeSlide {
    position: relative;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    width 100%
    height $rem(boxheight = 280px)
    ul {
      position: absolute
      width 100%
      height 100%
      li {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2
        overflow: hidden;
        width: 100%;
        text-align: center;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        background url("../image/banner-default.png") no-repeat center top
        background-size $rem(640px auto);
      }
      a {
        display: block
      }
      img {
        width: 100%;
        height: $rem(boxheight)
      }
    }
    ol {
      position: absolute;
      z-index: 3;
      right: 0;
      bottom: $rem(16px);
      width: 100%;
      text-align: center;
      li {
        display: inline-block;
        width: $rem(15x);
        height: $rem(15x);
        margin-right: $rem(7px);
        border-radius: 100%;
        background-color: rgba(255, 255, 255, .6)
        &.on {
          background-color: rgba(255, 255, 255, 1)
        }
      }
    }
  }
} 
.contentList{
  width 100%
  margin-top $rem(20px)
  background #fff
  .tab-btn{
    border 1px solid #eee
    border-width 1px 0 1px 0
    .active{
      i.iconfont{
        background #fe5722 !important
      }
    }
    .item{
      &:nth-child(3){
        span{
          border 0
        }
      }
      overflow hidden
      display inline-block
      width 33.33%
      text-align center
      margin $rem(30px auto 30px) 
      .iconfont{
        display inline-block
        float left
        margin-left 23%
        padding $rem(10px 10px)
        background #bebebe
        border-radius $rem(8px)
        color #fff
        font-size $rem(40px)
      }
      span{
        display block
        float left
        font-size $rem(23px)
        line-height $rem(65px)
        margin-left $rem(10px)
        border-right 1px solid #eee
        padding-right 20%
      }
    }
  }
  .list{
    margin-bottom $rem(80px)
    a{
      display block
      padding $rem(20px 20px)
      overflow hidden
      border-bottom 1px solid #eee
      img{
        border-radius $rem(8px)
        float left
        width 25%
      }
      .intro{
        width 72%
        float left
        margin-left 3%
        p{
          //line-height $rem(35px)
          width 100%
          &:first-child{
            font-size $rem(26px)
            span{
              display inline-block
              margin-left 5%
              color #fe5722
              font-size $rem(24px)
              i{
                font-size $rem(35px)
              }
            }
          }
          &:nth-child(2){
            color #ffc600
            overflow hidden
            .iconfont{
              float left
              font-size $rem(35px)
            }
          }
          &:last-child{
            width 100%
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            color #a0a0a0
          }
        }
      }
    }
  }
}
.home-wrap{
  background #f5f6f8
  .homeSlide{
    height $rem(254px) !important
    ul{
      img{
        height $rem(254px) !important
      }
    }
    ol{
      top 90%
    }
  }
  .nav{
    background #fff
    margin-top $rem(20px)
    border-top 1px solid #eee
    a{
      font-size $rem(23px)
      color #424242
      border solid #eee
      border-width 0 1px 1px 0
      display inline-block
      width 24.7%
      height $rem(150px)
      text-align center
      &:nth-child(4){
        border-right 0
        i{
          color #f96268 !important
        }
      }
      &:nth-child(5){
        i{
          color #f96268 !important
        }
      }
      &:nth-child(6){
        i{
          color #36bc99 !important
        }
      }
      &:nth-child(7){
        i{
          color #ffb359 !important
        }
      }
      &:nth-child(8){
        border-right 0
      }
      i,span{
        display block
      }
      i.iconfont{
        font-size $rem(60px)
        margin-top $rem(25px)
        color #2eb3e8
      }
      span{
        margin-top $rem(15px)
      }
      .smicon{
        color #f96268 !important
        position absolute
        font-size $rem(45px) !important
        margin -4.6% 13% !important
      }
      .smicon2{
        font-size $rem(30px) !important
        margin-left 14% !important
        margin-top -4% !important
        transform rotate(270deg)
        -webkit-transform rotate(270deg)
      }
      .smicon3{
        font-size $rem(30px) !important
        margin -3.5% 14.5% !important
      }
    }
  }
}
.specil-wrap{
  .contentList{
    margin 0
    border 0
    .tab-btn{
      border 0
      color #a0a0a0
      a{
        font-size $rem(26px)
        display inline-block
        background #f5f6f8
        line-height $rem(70px)
        margin 0 !important
        border-bottom $rem(4px) solid transparent
      }
      .active{
        color #d2282c
        border-bottom $rem(4px) solid #d2282c !important
      }
    }
    .active{
      color #d2282c
      border-bottom $rem(4px) solid #d2282c !important
    }
  }
}
.firstWrap{
  .homeSlide{
    height $rem(400px) !important
    ul{
      img{
        height $rem(400px) !important
      }
    }
    ol{
      top 90%
    }
  }
  .info{
    width 100%
    .title{
      display block
      width 95%
      margin 0 auto
      font-size $rem(32px)
      margin-top $rem(30px)
    }
    .money{
      width 95%
      margin 0 auto
      font-size $rem(26px)
      margin-top $rem(20px)
      span{
        font-size $rem(26px)
        color #d2282c
        i{
          margin-left 4%
          font-size $rem(32px)
        }
      }
    }
    .dot{
      width 95%
      margin $rem(30px) auto
      p{
        display inline-block
        width 33.3333%
        font-size $rem(20px)
        color #a0a0a0
        i{
          color #d2282c
          font-size $rem(20px)
        }
        &:nth-child(2){
          margin-left 3%
        }
        &:nth-child(3){
          width 30%
        }
      }
    }
  }
  .bread{
    width 95%
    padding 0 2.5%
    margin 0 auto
    background #eee
    font-size $rem(24px)
    line-height $rem(75px)
    color #747474
    span{
      margin-right 3%
    }
  }
  .video{
    width 100%
    background #f5f6f8
    padding-bottom $rem(20px)
    .box{
      position relative
    }
    img{
      display block
      width 80%
      margin 0 auto
      padding-top $rem(20px)
    }
    audio{
      display inline-block
      width 80%
      margin 0 auto
      padding-top $rem(20px)
    }
    .watch{
      color #fff
      line-height $rem(42px)
      padding $rem(0 10px)
      background #d2282c
      position absolute
      bottom 0
      right 10%
    }
    p{
      width 77%
      margin 0 auto
      padding-left 3%
      font-size $rem(26px)
      background #fff
      line-height $rem(50px)
    }
  }
  .tab{
    border-bottom $rem(20px) solid #f5f6f8
    padding-bottom $rem(20px)
    .tabBtn{
      width 80%
      margin $rem(20px) auto 
      font-size $rem(22px)
      color #747474
      text-align center
      .active{
        background #d2282c
        color #fff
      }
      a{
        display inline-block
        width 24.3%
        line-height $rem(60px)
        border 1px solid #d2282c
        border-width 1px 1px 1px 0px
        &:first-child{
          border-width 1px
          border-radius $rem(10px 0 0 10px)
        }
        &:last-child{
          border-radius $rem(0 10px 10px 0)
        }
      }
    }
    .content{
      width 80%
      margin 0 auto
      font-size $rem(24px)
      color #747474
      line-height $rem(34px)
    }
  }
  .rekmand{
    padding-top $rem(20px)
    .title{
      width 100%
      padding-left $rem(20px)
      font-size $rem(28px)
      .iconfont{
        color #d2282c
        font-size $rem(30px)
      }
    }
  }
}
.bottom-nav{
  position absolute
  width 100%
  bottom 0
  background #f0f0f0
  margin-top $rem(100px)
  a{
    &.active{
      color #d2282c !important
    }
    color #a0a0a0
    display inline-block
    width 20%
    text-align center
    padding $rem(10% 0)
    font-size $rem(22px)
    .iconfont{
      display block
      margin-bottom $rem(5px)
      font-size $rem(40px)
    }
  }
}
.firstBody{
  .bottom-nav{
    position absolute
    width 100%
    bottom 0
    margin-top $rem(100px)
    background #fff !important
    border-top 1px solid #e0e0e0
    a{
      width 33.33333% !important
      font-size $rem(26px)
      color #a0a0a0
      i{
        display inline-block
      }
      span{
        line-height $rem(30px)
        display inline-block
        border-right 1px solid #e0e0e0
        padding-right 14%
      }
      &:first-child{
        i{
          color #2eb3e8
        }
      }
      &:nth-child(2){
        i{
          color #5cc9ac
        }
      }
      &:last-child{
        span{
          border 0
        }
        i{
          color #f96269
        }
      }
    }
  }
}

.conmunicate-wrap{
  .contentList{
    margin 0
    .intro{
      width 94% !important
      margin 0 !important
      p{
        line-height $rem(36px)
      }
      p:first-child{
        font-size $rem(30px)
        color #424242
      }
      p:last-child{
        color #a0a0a0 !important
        width 60% !important
      }
      overflow-x hidden
    }
    .name{
        width 100%
        // margin 0 auto
        font-size $rem(24px)
        color #424242 !important
        position absolute
        margin 9.5% 53%
        span{
          display inline-block
          max-width 20%
          margin-left $rem(10px)
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align right
        }
    }
    .newsPic{
      float none !important
      width 100% !important
      margin 0 auto !important
      border-radius 0 !important
    }
  }  
}
.discover-wrap{
  .time{
    width 90%
    margin $rem(20px) auto 0
    color #424242
    span{
      font-size $rem(44px)
    }
  }
  .newsPic{
    float none !important
    width 100% !important
    margin 0 auto !important
    border-radius 0 !important
  }
  .intro{
    width 100% !important
    //margin 0 auto !important
  }
  p{
    line-height $rem(36px)
    width 100% !important
    text-align center
    width 90% !important
    margin 0 auto !important
    text-overflow: initial;
    white-space: initial;
  }
  .name{
    position relative
    margin-top 20%
    height 100%
    span{
      display block
      //position absolute
        color #cdcdcd
      &:first-child{
        float left
      }
      &:last-child{
        float right
      }
    }
  }
}
.zc-wrap{
  .info{
    text-align center
  }
  span{
    color #cdcdcd
    display inline-block
    text-align center
    padding $rem(10px 10px)
  }
}
.zcDetai-wrap{
  .info{
    .money{
      overflow hidden
      text-overflow: ellipsis;
      white-space: nowrap;
      width 90%
      text-align left
      margin-left 3%
      color #a0a0a0
    }
  }
  .line{
    width 90%
    height $rem(4px)
    margin $rem(40px) auto
    background #eee
    margin-left 3%
    .process{
      background #d2282c
      display block
      height $rem(4px)
    }
  }
  .soon{
    width 100%
    text-align center
    span{
      display inline-block
      width 33.3333%
      padding-top $rem(130px)
      &:first-child{
        background url('../image/cjjd.png') no-repeat top center
        background-size $rem(71px 109px)
      }
      &:nth-child(2){
        background url('../image/ycje.png') no-repeat top center
        background-size $rem(117px 117px)
      }
      &:nth-child(3){
        background url('../image/sysj.png') no-repeat top center
        background-size $rem(74px 115px)
      }
    }
  }
  .seeDetail{
    display block
    width 100%
    text-align center
    margin-top $rem(40px)
    line-height $rem(60px)
    border-top 1px solid #eee
    font-size $rem(24px)
    color #d2282c
    border-bottom $rem(25px) solid #f5f6f8
  }
  .support{
    border-bottom $rem(25px) solid #f5f6f8
    .title{
      width 92%
      margin $rem(20px) auto 0
      font-size $rem(30px)
      span{
        &:first-child{
          float left
        }
        &:last-child{
          float right
          color #d2282c
          font-weight bold
        }
      }
    }
    ul{
      width 100%
      background url('../image/slh.png') no-repeat 93% center
      li{
        width 15%
        text-align center
        float left
        margin $rem(20px) 0 $rem(20px) 4%
        img{
          width 100%
          border-radius $rem(150px 150px)
        }
        .num{
          position absolute
          background #d2282c
          width $rem(30px)
          height @width
          text-align center
          line-height @width
          color #fff
          border-radius @width
          margin $rem(41% -25px)
          border 1px solid #fff
        }
      }
    }
  }
  .supportList{
    width 90%
    margin $rem(20px) auto
    padding-bottom $rem(20px)
    border-bottom 1px solid #eee
    .top{
      width 100%
      img{
        width 25%
        float left
        border-radius $rem(150px 150px)
      }
      span{
        float left
        display block
        margin-left 5%
        line-height 650%
      }
      a{
        float right
        background #d2282c
        display block
        padding $rem(10px 20px)
        color #fff
        margin-top 9%
      }
    }
    p{
      font-size $rem(28px)
      color #a0a0a0
      line-height $rem(30px)
      &.small{
        font-size $rem(24px)
      }
    }
  }
  .foryou{
    width 92%
    padding 0 4%
    border-top $rem(25px) solid #f5f6f8
    margin-bottom $rem(80px)
    .title{
      font-size $rem(34px)
      line-height $rem(70px)
    }
    ul{
      li{
        width 48%
        float left
        margin-right 4%
        margin-bottom 4%
        &:nth-child(2n){
          margin 0
        }
        img{
          width 100%
        }
        // span{
        //   position absolute
        //   margin 11% -20%
        // }
      }
    }
  }
}
.support-nav{
  background #d2282c url('../image/iconfont-fenxiang.png') no-repeat center right
  background-size $rem(121px 86px)
  a{
    color #fff
    margin-left 26%
    font-size $rem(40px)
    display block !important
    height $rem(50px) !important
    line-height @height
  }
}