
<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->
    
    <div class="my-order my-order-01 center-index">

      <div class="header">
    		<h1>个人中心</h1>
    	</div>
      
      <div class="banner">
        <img src="../../image/center/banner.png">
      </div>

      <div class="person">
        <img src="../../image/center/person.png">
        <span>理想</span>
      </div>
      
      <div class="title">
        <div class="left">
          <img src="../../image/center/document.png">&nbsp;&nbsp;<span>我的订单</span>
        </div>
        <a href="javascript:;" class="all">查看全部订单 ></a>
      </div>
      
      <hr>

    	<ul class="navigator">
    		<li>
          待付款<br />(20)
    		</li>
    		<li>
          待收货<br />(20)
    		</li>
    		<li>
          已完成<br />(20)
    		</li>
    		<li>
          退换货<br />(20)
    		</li>
    	</ul>
      
      <div class="galery">
        <a href="javascript:;">帮助中心</a>
        <a href="javascript:;">我的收藏</a>
        <a href="javascript:;">收货地址</a>
      </div>
      
      <hr class="last">

    </div>

    <div class="total-nav">
      <ul>
        <li><a href="javascript:;">主页</a></li>
        <li><a href="javascript:;">分类</a></li>
        <li><a href="javascript:;">购物车</a></li>
        <li class="active"><a href="javascript:;">个人中心</a></li>
      </ul>
    </div>
  
  <!-- 引入js -->

  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

