
<link rel="import" href="../common/common-head.html?__inline"><!-- 引入公共头部 -->

    <div class="my-order my-order-01">
      <div class="header">
    		<h1>我的订单</h1>
    	</div>
    	<ul class="navigator">
    		<li>
    			全部订单<br />(20)
    		</li>
    		<li>
          待付款<br />(20)
    		</li>
    		<li>
          待收货<br />(20)
    		</li>
    		<li>
          已完成<br />(20)
    		</li>
    		<li class="active">
          退换货<br />(20)
    		</li>
    	</ul>
      
      <hr>

      <div class="content">
        <div class="shop-list">
          <div class="title">
            <div class="name"><img src="../../image/common/wu.png">&nbsp;dfafa店铺 ></div>
            <div class="status">状态：已完成</div>
          </div>
          <div class="order clearfix">
            <a href="javascript:;" class="img-a"><img src="../../image/myfavorite/my-fav_01.png"></a>
            <div class="describ">
              <div class="top">
                <div class="text">原装进口拉菲 花园干红葡萄酒6支装</div>
                <div class="price">￥499.00</div>
              </div>
              <div class="bottom">
                <span>数量：6</span>
                <a href="javascript:;" class="service">退换货</a>
                <a href="javascript:;" class="again">再次购买</a>
              </div>
            </div>
          </div>
          <div class="order clearfix">
            <a href="javascript:;" class="img-a"><img src="../../image/myfavorite/my-fav_01.png"></a>
            <div class="describ">
              <div class="top">
                <div class="text">原装进口拉菲 花园干红葡萄酒6支装</div>
                <div class="price">￥499.00</div>
              </div>
              <div class="bottom">
                <span>数量：6</span>
                <a href="javascript:;" class="service">退换货</a>
                <a href="javascript:;" class="again">再次购买</a>
              </div>
            </div>
          </div>
          <div class="total">
            <p>共计2件商品 合计：￥998.00 (含运费￥ 0.00)</p>
            <p class="real">实付：￥ 998.00</p>
          </div>
        </div>
        <div class="shop-list">
          <div class="title">
            <div class="name"><img src="../../image/common/wu.png">&nbsp;dfafa店铺 ></div>
            <div class="status">状态：已完成</div>
          </div>
          <div class="order clearfix">
            <a href="javascript:;" class="img-a"><img src="../../image/myfavorite/my-fav_01.png"></a>
            <div class="describ">
              <div class="top">
                <div class="text">原装进口拉菲 花园干红葡萄酒6支装</div>
                <div class="price">￥499.00</div>
              </div>
              <div class="bottom">
                <span>数量：6</span>
                <a href="javascript:;" class="service">退换货</a>
                <a href="javascript:;" class="again">再次购买</a>
              </div>
            </div>
          </div>
          <div class="order clearfix">
            <a href="javascript:;" class="img-a"><img src="../../image/myfavorite/my-fav_01.png"></a>
            <div class="describ">
              <div class="top">
                <div class="text">原装进口拉菲 花园干红葡萄酒6支装</div>
                <div class="price">￥499.00</div>
              </div>
              <div class="bottom">
                <span>数量：6</span>
                <a href="javascript:;" class="service">退换货</a>
                <a href="javascript:;" class="again">再次购买</a>
              </div>
            </div>
          </div>
          <div class="total">
            <p>共计2件商品 合计：￥998.00 (含运费￥ 0.00)</p>
            <p class="real">实付：￥ 998.00</p>
          </div>
        </div>
      </div>

    </div>
    
    <div class="total-nav">
      <ul>
        <li><a href="javascript:;">主页</a></li>
        <li><a href="javascript:;">分类</a></li>
        <li><a href="javascript:;">购物车</a></li>
        <li class="active"><a href="javascript:;">个人中心</a></li>
      </ul>
    </div>
  <!-- 引入js -->

  <script type="text/javascript" src="../../script/page/demo.js"></script>
  <script>
      require('alading:app/script/page/demo');
  </script>

<link rel="import" href="../common/common-footer.html?__inline"><!-- 引入公共底部 --> 

